mkdocs
mkdocs-multirepo-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mknotebooks
Pygments
jupyter-book
wheel
ghp-import
mat73
lmfit
tabulate
nilearn
seaborn
notebook
nbconvert
nbformat
ipykernel
jupyter